In [1]:
import os
import tarfile
import urllib
import pandas as pd

TITANIC_DIR = "/Users/spencer/ml/datasets/titanic"
TRAIN_PATH = os.path.join(TITANIC_DIR, 'train.csv')

train_set = pd.read_csv(TRAIN_PATH)

In [98]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Reform Data
1) Remove Embarked nulls<br>
2) Convert Sex/Survived/Embarked/Pclass to category type<br>
3) Remove Cabin and tickets<br>
4) Null Age set to median<br>
5) One Hot Encoding on Category Attributes<br>
6) Split data to train and testing<br>

### Categorize Attributes & Remove Embarked == Null
Converts the attribute of one type to boolean
Only accepts object(string) and int64

In [89]:
from sklearn.preprocessing import FunctionTransformer

def to_category(X):
    return X.astype('category')
categorizeAttribute = FunctionTransformer(to_category)

def drop_missing_embarks(X):
    return X.dropna(subset=["Embarked"])
purgeNullEmbarks = FunctionTransformer(drop_missing_embarks)

In [90]:
mess_set = train_set.copy()

In [91]:
mess_set = purgeNullEmbarks.fit_transform(mess_set)

In [97]:
mess_set['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Transform Columns

In [ ]:
all_attribs = list(train_set)
cat_attribs = ['Survived','Pclass','Sex','Embarked']
nan_with_median_attribs = ['Age']

In [88]:
from sklearn.pipeline import Pipeline

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']